{% load static %}

<footer>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-3">
                <ul class="lis">
                    <h6 class="karta">Карта сайта</h6>
                    <li class="it"><a href="#">Главная</a></li>
                    <li class="it"><a href="#">Правила</a></li>
                    <li class="it"><a href="#">Результаты</a></li>
                    <li class="it"><a href="#">Работы</a></li>
                    <li class="it"><a href="#">О нас</a></li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="lis">
                    <h6 class="karta">Контакты</h6>
                    <li class="it"><a href="#">+998 71 234 56 78</a></li>
                    <li class="it"><a href="#">befirst@gmail.com</a></li>
                    <li class="it"><a href="#">г. Ташкент, Юнусабадский район, ул Узбекистан</a></li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="lis">
                    <h6 class="karta">Мы в соцсетях:</h6>
                    <img src="{% static "main/img/social.png" %}" alt="">
                </ul>
            </div>
            <div class="col-3">
                <ul class="lis">
                    <img class="log" src="{% static "main/img/logo.svg" %}" alt="">
                    <p class="be">BeFirst 2023 ©</p>
                </ul>
            </div>
        </div>
    </div>
</footer>