{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bab_card">
                        <h1 class="nas">О НАС</h1>
                        <p class="lom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h1 class="onas">О НАС</h1>
                    <p class="inf">информация о конкурсах</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10">
                    <p class="ipsum">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
                        dignissim qui blanddit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                        facilisi. <br>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                        illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                        blanddit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                </div>
                <hr>
            </div>
            <div class="row justify-content-between">
                <div class="col-3">
                    <img class="st" src="{% static "main/img/tree.png" %}" alt="">
                </div>
                <div class="col-3">
                    <img class="st" src="{% static "main/img/tree.png" %}" alt="">
                </div>
                <div class="col-3">
                    <img class="st" src="{% static "main/img/tree.png" %}" alt="">
                </div>
                <div class="col-3">
                    <img class="st" src="{% static "main/img/tree.png" %}" alt="">
                </div>
                <hr>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <img style="text-align: center;" src="{% static "main/img/tay.svg" %}" alt="">
                </div>
            </div>
        </div>
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h1 class="eks">ЭКСПЕРТЫ</h1>
                        <p class="loi">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodore et
                            dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-3">
                        <img src="{% static "main/img/c1.png" %}" alt="">
                    </div>
                    <div class="col-3">
                        <img src="{% static "main/img/c2.png" %}" alt="">
                    </div>
                    <div class="col-3">
                        <img src="{% static "main/img/c3.png" %}" alt="">
                    </div>
                    <div class="col-3">
                        <img src="{% static "main/img/c4.png" %}" alt="">
                    </div>
                    <hr id="he">
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="tard">
                            <img src="{% static "main/img/c5.svg" %}" alt="">
                            <p class="quis">Quisque iaculis lorem vestibulum eros vehicula, non congue elit dictum.
                                Donec mollis aliquet lorem, eu porttitor sapien semper in. Duis ac erat luctus, gravida
                                lectus sit amet, consectetur orci. Suspendisse libero mauris.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
